@model IEnumerable<BlogMVC.Models.Post>

@{
    ViewData["Title"] = "List";
}
<h1 class="text-center">Blog</h1>

        @if (User.IsInRole("Admin"))
        {
            <p>
                <a asp-action="Create" class="btn btn-dark">Create New</a>
            </p>
        }
        @foreach (var item in Model)
        {
            <div class="card mt-4 bg-light">
                <div class="card-body">
                <h3 class="card-title text-center">@item.Title</h3>
                <div class="card-subtitle text-muted text-center">@item.Created</div>
                <div class="card-text ml-4">@item.Description</div>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark mt-2">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary mt-2">Read More</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mt-2">Delete</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary mt-2">Read More</a>
                }
                    </div>
            </div>
        }



@*
<h1>List</h1>
@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            }
            else
            {
        <td>  <a asp-action="Details" asp-route-id="@item.Id">Details</a> </td>
            }
        </tr>          
            }
    </tbody>
</table>
*@
